@media (max-width: 1279px)

    :root 
        --template-padding: 24px
        --template-max-width: 1279px

    body
        font-size: 0.875rem

    h1
        font-size: 4.25rem

    // .orbit
    //     &-left
    //         left: -620px
    //         bottom: -650px
    //     &-right
    //         right: -810px
    //         top: -400px

    .header
        padding-top: var(--template-padding)
        &__main-left,
        &__main-right
            width: 150px
        &__contacts
            display: none
        .btn-language
            display: none
        &__expanded
            height: 100vh
            padding-top: 80px
            flex-direction: column
            &-nav
                flex: 1 0 auto
                display: grid
                grid-template-columns: 1fr 1fr
                column-gap: 24px
        &__copyright-wrapper
            flex: 0 0 auto
            margin-top: 0
        &__nav-column
            &:last-child
                grid-column: 1/3

        &.is-fixed
            .header__expanded
                display: flex
                height: calc(100vh - 52px - 24px*2)

    .section
        padding-top: 100px
        padding-bottom: 100px

    .section-main
        .orbit-left
            left: -600px
            bottom: -160px
        .orbit-right
            right: -720px
            top: -440px

    .section-main--inner
        padding-bottom: var(--template-padding) !important
        .orbit-left
            left: -590px
            bottom: -710px
        .orbit-right
            top: -330px

    .map
        &__marker
            width: 108px
            height: 108px
            &::before
                width: 128px
                height: 128px
            &::after
                width: 159px
                height: 159px
            &--eu
                top: 12%
                left: 49%
            &--ch
                top: 28%
                right: 7%
            &--as
                top: 36%
                right: 24%
            &--af
                bottom: 23%
                left: 42%

    .services
        grid-template-columns: 100%
        grid-template-rows: auto auto
        gap: 0
        &__image-wrapper
            aspect-ratio: 720/500
        &__list
            padding-left: 72px
            &-controls
                left: 43px

    .section-services,
    .section-advantages
        &__title-box
            margin-bottom: 24px
            position: relative
            left: unset
            top: unset
            width: 100%
            height: auto
        .section__wrapper
            overflow: hidden

    .projects
        grid-template-columns: [line-start] 1fr 1fr [line-end]

    .advantages
        display: flex
        overflow: hidden

    .advantage
        flex: 1 0 672px
        &--empty
            display: none

    .clients
        overflow: hidden
        &__item
            flex: 0 0 250px

    .footer
        .title
            font-size: 2.5rem
            padding-bottom: 32px
        &__body
            &-content
                flex-direction: column
                gap: 32px

    .popup
        justify-content: center
        align-items: flex-end
        &__close
            right: 50% !important
            top: 16px
            transform: translate(50%, 0)

    .popup--project .popup-window,
    .popup-window
        width: 100%
        height: calc(100vh - 84px)

    .popup--project
        .title
            font-size: 2.5rem
            padding-bottom: 16px
        .tags,
        .images-box-slider
            margin-bottom: 32px
        &__description
            gap: 24px
            & > div
                padding-top: 24px
            .title
                font-size: 2rem
                padding-bottom: 12px


    .section-contacts
        &__wrapper
            grid-template-columns: 100%
            gap: 68px
        &__map
            aspect-ratio: 1/1
            height: unset
        &__phone
            padding-bottom: 32px

    .section-text
        &__direction
            grid-template-columns: 100% !important

    .directions-cards
        grid-template-columns: 1fr 1fr
        grid-template-rows: 1fr 1fr
        &__card
            &:last-child
                grid-column: 1/3

    .payload-kinds
        flex-direction: column-reverse
        gap: 0
        &__image-box
            flex: none
            border-top-left-radius: 24px
            overflow: hidden
        &__icon
            margin-bottom: 24px

    .section-text
        p
            margin-bottom: 24px
        .text__columns--first,
        .text__columns--third
            .btn
                margin-top: 24px
        .text__columns--first
            grid-template-columns: 35% auto
        .text__columns--third
            grid-template-columns: 55% auto
        .text__columns--fourth
            grid-template-columns: auto 30%
            &>div:first-child
                order: 1
        .title
            font-size: 2.5rem
        .text,
        .text__columns
            gap: 24px
            margin-bottom: 100px
        .section-text
            &__direction
                gap: 0
            &__direction-body
                padding: 24px
                .title__border
                    padding-bottom: 24px

    .asia-page-flags
        width: 207px
        height: 111px

    .accordion
        &__header
            font-size: 1.5rem
            gap: 48px
        &__item
            font-size: 0.875em

    .btn-plus,
    .btn-minus
        width: 48px
        height: 48px

    .about
        padding: 24px
        &__top
            grid-template-columns: 100%
            grid-template-rows: auto 128px auto
        &__border
            width: 80%
            top: 30%
        &__company-title,
        &__bottom-title
            font-size: 2rem
        &__bottom-title
            margin-bottom: 16px
        &__company-description,
        &__bottom-description
            font-size: 1rem

    
    .map
        &__marker
            opacity: 1
            transform: scale(1)
    .map-scroll-wrapper
        height: auto


@media (max-width: 767px)

    :root 
        --template-padding: 16px
        --template-max-width: 767px

    body
        padding-bottom: 0 !important

    .section
        padding-top: 68px
        padding-bottom: 68px

    .title
        font-size: 1.625rem
        line-height: 1.1
        padding-bottom: 24px
        text-wrap: balance
        &__border
            margin-bottom: 32px

    .subtitle
        margin-bottom: 16px

    h1
        font-size: 2.25rem
        margin-bottom: 16px
    .section-main--inner
        h1
            font-size: 2.25rem
            margin-bottom: 0

    .form-row
        margin-bottom: 24px
    
    .input-title
        font-size: 1rem

    .header
        overflow-y: auto
        &__main-left
            width: auto  
        &__main-right  
            display: none
        &__expanded
            padding-top: 32px
            &-nav
                display: flex
                flex-direction: column
                gap: 32px
        &__nav-link
            font-size: 1.5rem
        &__nav-address
            .btn
                display: flex
                width: 100%
                margin-top: 24px
            p
                margin-bottom: 24px
                font-size: 1rem
        &__copyright-wrapper
            padding-bottom: var(--template-padding)

    .section-main--inner
        height: 350px

    .stats-cards
        grid-template-columns: 100%
        grid-template-rows: auto auto
        &__card
            padding: 16px
        &__card:last-child
            border-top-right-radius: 0
        &__header
            font-size: 3rem
            margin-bottom: 8px

    .orbit
        display: none

    .section-main
        &__list-item
            font-size: 1rem
            display: flex
        &__list-item-arrow
            flex: 0 0 24px

    .slider-buttons
        display: none

    .projects
        row-gap: 48px
        grid-template-columns: [line-start] 100% [line-end]

    .project
        &__image-wrapper
            margin-bottom: 16px
        &__title
            font-size: 1.125rem
            margin-bottom: 16px
        &__line
            display: none !important
    
    .section-projects
        .project
            flex: 0 0 271px

    .tag
        font-size: 0.75rem

    .map
        &__marker
            font-size: 0.75rem
            width: 54px
            height: 54px
            &::before
                width: 64px
                height: 64px
            &::after
                width: 80px
                height: 80px

    .services
        &__image-wrapper
            aspect-ratio: 312/280
        &__list
            padding: 24px 16px
            flex-direction: row
            overflow-x: auto
            scroll-behavior: smooth
            &-controls
                display: none
            &-item
                padding: 16px
                flex-direction: column
                gap: 16px
                flex: 0 0 250px
                font-size: 0.875rem
            &-item,
            &-item.is-active
                &::before,
                &::after
                    display: none

    .section-advantages,
    .section-services
        &__title-box
            padding: 16px
            .title
                font-size: 1.3125rem

    
    .section-services
        .advantage__description
            font-size: 1rem

    .advantages

    .advantage
        padding: 16px
        flex-direction: column
        flex: 0 0 270px
        &__left
            border-right: none
            border-bottom: 1px solid var(--bg-light-blue)
            flex: none
            height: auto
            padding-top: 40px
            padding-bottom: 40px
            margin-bottom: 16px
        &__right
            padding-left: 0
        &__title
            font-size: 1.125rem
            margin-bottom: 8px

    .section-clients
        .title__border
            padding-bottom: 24px

    .clients
        gap: 14px

    .footer
        // position: relative
        padding-top: 48px
        .title
            font-size: 1.5rem
            padding-bottom: 24px
            &__border
                flex-direction: column
                align-items: flex-start
                padding-bottom: 32px
        &__body
            padding: 16px
        &__nav-box
            column-gap: 14px
            row-gap: 24px

        &__copyright-wrapper
            flex-direction: column
            align-items: flex-start
            gap: 8px  
            margin-top: 24px
            padding-top: 16px
        .tag
            padding-left: 8px
            &__icon
                align-self: self-start
    
    .section-contacts
        .section__wrapper
            padding-top: 24px
        &__wrapper
            grid-template-columns: 100%
            gap: 48px
        &__map
            aspect-ratio: unset
            height: 100vh
            height: 100svh
        &__phone
            padding-bottom: 24px
            font-size: 2rem
        p
            padding-bottom: 32px
            font-size: 1rem
        p.is-last
            padding-bottom: 24px

    .section--inner
        padding-top: 32px

    
    .section-text
        font-size: 1rem
        padding-top: 26px
        .text,
        .text__columns
            grid-template-columns: 100%
            margin-bottom: 68px
        .text__columns--first
            position: relative
            margin-bottom: 168px
            .btn
                position: absolute
                bottom: calc(-52px - 32px)
        .title
            padding-bottom: 12px
            font-size: 1.5rem
        .subtitle
            font-size: 1rem
            margin-bottom: 0
        p
            font-size: 1rem
        h1
            font-size: 2.25rem
            padding-bottom: 32px
            margin-bottom: 0

        .section-text__direction-body
            padding: 16px

    .text__columns--third
        .text__column-space-between
            order: 1
            .btn
                margin-top: 32px
    
    .section-text
        .text__columns--fourth
            &>div:first-child
                order: 0


    .directions-cards
        display: flex
        flex-direction: column
        &__card
            padding: 16px
            &:last-child
                grid-column: none
            &-title
                font-size: 1.5rem
                margin-bottom: 16px
            ul
                gap: 4px
                margin-bottom: 24px

    .payload-kinds
        &__body
            display: flex
            flex-direction: column
            padding: 16px
            gap: 14px
        &__item
            flex-direction: row
            justify-content: flex-start
            align-items: center
            gap: 16px
        &__icon
            margin-bottom: 0

    .asia-page-flags
        margin-bottom: 12px
    

    .about
        padding: 16px
        &__border
            top: 45%
        &__company-title,
        &__bottom-title
            font-size: 1.5rem
        &__logo
            width: 162px
            height: 60px

    .popup--project
        .title
            font-size: 1.5rem
        &__description
            gap: 32px
            flex-direction: column
            & > div
                padding-top: 24px
            .title
                font-size: 1.5rem

    .images-box-slider
        &__controls
            right: 12px
            bottom: 12px